.section-order {
  padding-top: 100px;
}

.title-6 {
  @extend h6;
}

.order {
  &-aside {
    max-width: 250px;
    padding: 20px 0;
    @include d(992) {
      max-width: 100%;
    }
  }

  &-title {
    border-bottom: 1px solid $grayLight;
    padding: 30px 0;
  }
  &-content {
    padding: 20px 0;
    padding-right: 60px;
    @include d(1199) {
      padding-right: 20px;
    }
    @include d(992) {
      padding-right: 0;
    }
    p {
      line-height: 1.500em;
    }
    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding-bottom: 20px;
      @include d(992) {
        flex-direction: column;
      }
    }
  }
  &-form {
    .check-form__label p {
      padding-right: 40px;
      @include d(1199) {
        padding-right: 0;
      }
    }
  }
}

.price-box {
  padding: 20px 0;
}