<div class="admin-aside">
  <ul class="admin-aside__list">
    <li class="admin-aside__list-item active">
      <a href="#" class="admin-aside__list-link">
        <svg class="svg-icon">
          <use xlink:href="img/svg/sprite-svg/sprite.svg#board"></use>
        </svg>
      </a>
    </li>
    <li class="admin-aside__list-item">
      <a href="#" class="admin-aside__list-link">
        <svg class="svg-icon">
          <use xlink:href="img/svg/sprite-svg/sprite.svg#settings"></use>
        </svg>
      </a>
    </li>
    <li class="admin-aside__list-item">
      <a href="#" class="admin-aside__list-link">
        <svg class="svg-icon">
          <use xlink:href="img/svg/sprite-svg/sprite.svg#horn"></use>
        </svg>
      </a>
    </li>
    <li class="admin-aside__list-item">
      <a href="#" class="admin-aside__list-link">
        <svg class="svg-icon">
          <use xlink:href="img/svg/sprite-svg/sprite.svg#exclamation"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>