<!-- footer start -->
<footer class="footer js-scroll js-fadeIn js-show">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="footer__content">
          <a href="#" class="footer-logo">
            <img src="img/svg/logo-footer.svg" alt="musikkbryggeriet">
          </a>
          <div class="footer-list-wrapper">
            <ul class="footer-list">
              <li class="footer-list__item"><a href="#" class="footer-list__link">Candidates</a></li>
              <li class="footer-list__item"><a href="#" class="footer-list__link">For Candidates</a></li>
              <li class="footer-list__item"><a href="#" class="footer-list__link">Refer a Friend</a></li>
              <li class="footer-list__item"><a href="#" class="footer-list__link">Candidate Sign Up</a></li>
            </ul>
            <ul class="footer-list">
              <li class="footer-list__item"><a href="#" class="footer-list__link">Learn more</a></li>
              <li class="footer-list__item"><a href="#" class="footer-list__link">Success Stories</a></li>
              <li class="footer-list__item"><a href="#" class="footer-list__link">Blog</a></li>
              <li class="footer-list__item"><a href="#" class="footer-list__link">Resources</a></li>
              <li class="footer-list__item"><a href="#" class="footer-list__link">FAQ</a></li>
            </ul>
            <ul class="footer-list">
              <li class="footer-list__item"><a href="#" class="footer-list__link">Company</a></li>
              <li class="footer-list__item"><a href="#" class="footer-list__link">Team</a></li>
              <li class="footer-list__item"><a href="#" class="footer-list__link">Diversity</a></li>
              <li class="footer-list__item"><a href="#" class="footer-list__link">Careers</a></li>
              <li class="footer-list__item"><a href="#" class="footer-list__link">Press</a></li>
            </ul>
            <ul class="footer-list">
              <li class="footer-list__item"><a href="#" class="footer-list__link">Social Media</a></li>
              <li class="footer-list__item"><a href="#" class="footer-list__link">Twitter</a></li>
              <li class="footer-list__item"><a href="#" class="footer-list__link">Instagram</a></li>
              <li class="footer-list__item"><a href="#" class="footer-list__link">Linkedin</a></li>
              <li class="footer-list__item"><a href="#" class="footer-list__link">Youtube</a></li>
            </ul>
          </div>

        </div>
        <div class="copyright">
          <p>
            2018 Musikkbriggeriet. All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer end -->