<!-- header start -->
<header class="header">
  <div class="container_lg">
    <div class="header-row">
      <a href="/" class="logo">
        <img src="" alt="musikkbryggeriet">
      </a>
      <form class="header__form header-search">
        <input class="header-search__input" type="search" placeholder="search">
        <button class="header-search__btn" type="submit">
          <svg class="svg-search">
            <use xlink:href="img/svg/sprite-svg/sprite.svg#search"></use>
          </svg>
        </button>
      </form>
      <div class="header-content">
        <nav class="menu header__menu">
          <ul class="menu-list">
            <li class="menu-list__item"><a href="#" class="menu-list__link">Explore </a></li>
            <li class="menu-list__item"><a href="#" class="menu-list__link">Recent jobs</a></li>
            <li class="menu-list__item"><a href="#" class="menu-list__link">How it works</a></li>
          </ul>
        </nav>
        <button class="btn btn_transparent header__btn" data-fancybox data-src="#modalLogin">Sign in</button>
      </div>
      <button class="humburger js-humburger">
        <span class="humburger-item"></span>
        <span class="humburger-item"></span>
        <span class="humburger-item"></span>
      </button>
    </div>
  </div>
</header>
<!-- header end -->