<!-- header start -->
<header class="header header-loged">
  <div class="container_lg">
    <div class="header-row">
      <a href="/" class="logo">
        <img src="" alt="musikkbryggeriet">
      </a>
      <form class="header__form header-search">
        <input class="header-search__input" type="search" placeholder="search">
        <button class="header-search__btn" type="submit">
          <svg class="svg-search">
            <use xlink:href="img/svg/sprite-svg/sprite.svg#search"></use>
          </svg>
        </button>
      </form>
      <div class="header-message">
        <div class="header-message__item">
          <svg class="svg-icon">
            <use xlink:href="img/svg/sprite-svg/sprite.svg#message"></use>
          </svg>
          <span class="header-message__note"></span>
          <ul class="drop-list">
            <li class="drop-list__item">
              <a href="#" class="drop-list__link">message 1</a>
            </li>
            <li class="drop-list__item">
              <a href="#" class="drop-list__link">message 2</a>
            </li>
          </ul>
        </div>
        <div class="header-message__item">
          <svg class="svg-icon">
            <use xlink:href="img/svg/sprite-svg/sprite.svg#bell"></use>
          </svg>
          <span class="header-message__note"></span>
          <ul class="drop-list">
            <li class="drop-list__item">
              <a href="#" class="drop-list__link">notest 1</a>
            </li>
            <li class="drop-list__item">
              <a href="#" class="drop-list__link">notest 2</a>
            </li>
          </ul>
        </div>
      </div>
      <a href="#" class="header__post-job">
        <p>Post a job</p>
        <div class="add-job">
          <svg class="svg-xs">
            <use xlink:href="img/svg/sprite-svg/sprite.svg#plus"></use>
          </svg>
        </div>
      </a>
      <div class="header-user__wrapper">
        <a href="#" class="header-user">
          <div class="header-user__avatar">
            <img src="img/jpg/author.jpg" alt="user">
          </div>
          <div class="header-user__name">
            Mary Andrerson
          </div>
        </a>
        <ul class="drop-list">
          <li class="drop-list__item">
            <a href="#" class="drop-list__link">settings</a>
          </li>
          <li class="drop-list__item">
            <a href="#" class="drop-list__link">log out</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</header>
<!-- header end -->