<!-- sidebar start -->
<aside class="sidebar">
  <div class="sidebar__content">
    <h6 class="title-6 sidebar__title js-sidebar-title">Categories</h6>
    <ul class="sidebar-nav">
      <li class="sidebar-nav__item"><a href="#" class="sidebar-nav__link">Audio Work</a></li>
      <li class="sidebar-nav__item"><a href="#" class="sidebar-nav__link">Booking Agency</a></li>
      <li class="sidebar-nav__item"><a href="#" class="sidebar-nav__link">CD duplication</a></li>
      <li class="sidebar-nav__item"><a href="#" class="sidebar-nav__link">Composer</a></li>
      <li class="sidebar-nav__item"><a href="#" class="sidebar-nav__link">Editor</a></li>
      <li class="sidebar-nav__item"><a href="#" class="sidebar-nav__link">Entertainment Agency</a></li>
      <li class="sidebar-nav__item"><a href="#" class="sidebar-nav__link">Film and Television</a>
        <ul class="sidebar-subnav">
          <li class="sedebar-subnav__item">
            <a href="#" class="sidebar-subnav__link">Boom Operator
            </a>
          </li>
          <li class="sedebar-subnav__item">
            <a href="#" class="sidebar-subnav__link">Cable Puller
            </a>
          </li>
          <li class="sedebar-subnav__item">
            <a href="#" class="sidebar-subnav__link">
              Camera Operator
            </a>
          </li>
        </ul>
      </li>
      <li class="sidebar-nav__item"><a href="#" class="sidebar-nav__link">Ggaphics Design / Arts</a></li>
      <li class="sidebar-nav__item"><a href="#" class="sidebar-nav__link">Internet marketing</a></li>
      <li class="sidebar-nav__item"><a href="#" class="sidebar-nav__link">Legal Attorney</a></li>
      <li class="sidebar-nav__item"><a href="#" class="sidebar-nav__link">Lyric Writer</a></li>
      <li class="sidebar-nav__item"><a href="#" class="sidebar-nav__link">Musician Work</a>
        <ul class="sidebar-subnav">
          <li class="sedebar-subnav__item">
            <a href="#" class="sidebar-subnav__link">Boom Operator
            </a>
          </li>
          <li class="sedebar-subnav__item">
            <a href="#" class="sidebar-subnav__link">Cable Puller
            </a>
          </li>
          <li class="sedebar-subnav__item">
            <a href="#" class="sidebar-subnav__link">
              Camera Operator
            </a>
          </li>
        </ul>
      </li>
      <li class="sidebar-nav__item"><a href="#" class="sidebar-nav__link">Others</a></li>
      <li class="sidebar-nav__item"><a href="#" class="sidebar-nav__link">Photographer</a></li>
      <li class="sidebar-nav__item"><a href="#" class="sidebar-nav__link">Producer</a></li>
      <li class="sidebar-nav__item"><a href="#" class="sidebar-nav__link">Promoter</a></li>
      <li class="sidebar-nav__item"><a href="#" class="sidebar-nav__link">Video/Animation</a></li>
      <li class="sidebar-nav__item"><a href="#" class="sidebar-nav__link">Writing</a></li>
    </ul>
  </div>
</aside>
<!-- sidebar end -->