// project colors
$white: #ffffff;
$textColor: #2a394e;
$primary: #e24b3b;
$primaryDark: #cc3d2f;
$primaryLight: #e54c3c;
$gray: #51545b;
$grayLight: #cfced2;
$bodyBg: #f3f4f8;
$borderColor: #E7E8E9;
$yellow: #fac000;
$green: #01c48c;
$blueDark: #264b8a;
$footerBg: #403c4d;
$footerLight: #fbfdff;
$footerDark: #9a97a0;
$pink: #ed8d85;
$tagBg: #9897a1;
// timing
$hover-duration: .4s;
$duration: .8s;
$animationDuration: 1.4s;
$timing: cubic-bezier(.7, 0, .3, 1);

$borderRadius: 10px;
$boxShadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.09);